:root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #0a0f14; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #0f2943; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #e87532; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  




@media (max-width : 575px ){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        
     }
     body{
        overflow-x: hidden;
        margin-left: 9px;
     }
     .navBar {
        margin-top: 20px;
        padding-top: 20px;
        height: 9vh;
        margin-left: 0px;
        z-index: 1200;
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        
    }
    #menuBar2{
        display: none;
    }
    .navBarBlock{
        height: 90px;
    }
    #EasyFolio{
        display: flex;
        left: 15px;

    }
    .hamburgerMenu{
        visibility: visible;
    }
    #cross-icon {
        visibility: visible;
        
    }
    .menuBar {
        width: 90%;
        margin-top: 10px;
        z-index: 9999;
        /* display: block; */
        visibility: visible;
        margin-left: 10px;
    }
    .menu_lists {
       
        font-size: 1rem;
        display: block; 
        visibility: visible;
        margin-top: 30px;
        margin-left: 10px;
        line-height: 40px;

        /* margin-left: 201px; */

    }

    #link-tag{
        color: black;
        text-decoration: none;
        visibility: visible;
        
    }
    #link-tag:hover{
        transition: all 1.2s;
        color:var(--accent-color) ;
    }
    
    #lists {
        list-style: none;
        padding-left:29px ;
        /* padding-left: 10px; */
    }
    .heroText{
     margin-left: 5vw;   
    }
    #Crafting{
        font-size: 40px;
        line-height: 45px;
        position: relative;
        left: -29px;
        display: flex;
        max-width: 90vw;
        align-items: center;
        justify-self: center;
        text-align: center;
        top: -30px;
    }
    #Transforming{
      max-width: 95vw;
      margin-top: -12px;
    text-align: center;
    margin-left: -20px;
       
    }
    .portfolio-buttons{
       display: grid;
       grid-template-columns:0px;
      grid-template-rows: 40px;

    }
    #view-my-work{
        width: 90vw;
        margin-left:-30px;
    }
    #Lets-Connect {
        width: 90vw;
        margin-left:-30px;
        
    }
    .experience{
        display: grid;
        grid-template-columns: 50px ;
        margin-left: 22vw;
        text-align: center;
        position: relative;
        
    }
    #years,
    #projects-comp,
    #Happy {
        font-size: 39px;
        font-weight: 700;
        color: #0f2943;
        position: relative;
        left: 10px;
        text-align: center;
    }
    
    .inlineText{
        position: absolute;
        left: -10px;
        color: #0a0f14b9;
    }
    .personImage {
       width:80vw ;
       max-height: 40vh;
       position: absolute;
        margin-left: -630px;
        margin-top: 110vh;

       }
       
    #hero-circle{
        position: relative;
        left: -15em;
        height: 320px;
        width: 320px;
        margin-top:32em ;
    }
    #heroCircle2{
        position: relative;
        margin-left: -690px; 
        margin-top:-2em;
        height: 220px;
        width: 220px;
        
    }
    #aboutSection{
        position: relative;
        top: -80px;
        
    }
    #header-about{
        margin-left: 1vw;
       margin-top: -30px;
    }
   #about-svg{
        margin-left: -10vw; 
   }
   #about-para{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    max-width: 400px;
   }
   #about-img1{
    width: 90vw;
    max-height: 75vh;
    margin-left: -89px;
    margin-top: -40px;
    
   }

   #ui-ux-text{
    max-width: 83vw;
    font-size: 23px;
    margin-left: -5px;
    margin-right: -200px;
    font-weight: 200;
   }
   .about-me-div{
    display: block;
    margin-left: -43em;
    margin-top: 26em;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 97vw;
    max-height:20vh ;
    
   }

   
   #about-details{
    margin-top: 10px;
    margin-left: -7px;
    margin-bottom: -30px;
    font-size: 16px;
    max-width:95vw;
    line-height: 30px;
   }
  #neque{
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: #000 ;
     margin-left: -10px;
     padding-top: 19px;
  }
   .aboutDiv{
    height: 225vh;
   }
   #about-details-div{
    /* max-width: 900px; */
    text-align: start;
   }

   #PersonalInfo  #infoContainer{
    margin-left: -43em;    
    width: 93vw;
    height: 280px;
    margin-top: 40em;
} 
    td{
    line-height: 40px;
    
}
th,td {
    padding-left: 20px;
}
#signature{
    width: 150px;
    height: 40px;
    margin-left: -20px;

}
.progressBar{
    margin-top: -10em;
    display: block;

   }

   #resume-section{
    margin-top: 90em;
   }
   .progressContainer{
    position: relative;
    display: grid;
    grid-template-rows: 250px 300px;
    grid-template-columns: 350px ;
    
   }
   .htmlBar{
    width: 90vw;
    height: 150px;
    margin-left: 14px;
    margin-top: -7em;
   }
   .cssBar{
    width: 90vw;
    height: 150px;
    margin-left:100px ;
    /* margin-top: 1em; */
   }
}