:root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #0a0f14; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #0f2943; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #e87532; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  




@media (max-width : 575px ){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        
     }
     body{
        overflow-x: scroll;
     }
     .navBar {
        margin-top: 20px;
        padding-top: 20px;
        height: 9vh;
        margin-left: 20px;
        z-index: 1200;
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        
    }
    #menuBar2{
        display: none;
    }
    .navBarBlock{
        height: 100px;
    }
    #EasyFolio{
        display: flex;
        left: 15px;

    }
    .hamburgerMenu{
        visibility: visible;
    }
    #cross-icon {
        visibility: visible;
        
    }
    .menuBar {
        width: 90%;
        margin-top: 10px;
        z-index: 9999;
        /* display: block; */
        visibility: visible;
    }
    .menu_lists {
       
        font-size: 1rem;
        display: block; 
        visibility: visible;
        margin-top: 30px;
        margin-left: 10px;
        line-height: 30px;

        /* margin-left: 201px; */

    }

    #link-tag{
        color: black;
        text-decoration: none;
        visibility: visible;
        
    }
    #link-tag:hover{
        transition: all 1.2s;
        color:var(--accent-color) ;
    }
    
    #lists {
        list-style: none;
        padding-left:29px ;
        /* padding-left: 10px; */
    }
    #Crafting{
        font-size: 40px;
        line-height: 45px;
        position: relative;
        /* left: -29px; */
        display: flex;
        max-width: 65vw;
        align-items: start;
        text-align: center;
        top: -30px;
    }
    #Transforming{
      max-width: 29em;
      margin-top: -12px;
      margin-left: -20px;
       
    }
    .portfolio-buttons{
       display: grid;
       grid-template-columns:0px;
      grid-template-rows: 40px;

    }
    #view-my-work{
        width: 90vw;
        margin-left: -70px;
    }
    #Lets-Connect {
        width: 90vw;
        margin-left: -70px;
    }
    .experience{
        display: grid;
        grid-template-columns: 50px ;
        margin-left: 20vw;
        text-align: center;
        position: relative;
        
    }
    #years,
    #projects-comp,
    #Happy {
        font-size: 39px;
        font-weight: 700;
        color: #0f2943;
        position: relative;
        left: 10px;
    }
    
    .inlineText{
        position: absolute;
        left: -10px;
        color: #0a0f14b9;
    }
    .personImage {
        position: absolute;
        left:-7vw;
        top: 123vh;
        width: 80vw;
        height: 45vh; 
       }
    #hero-circle{
        position: relative;
        left: -12em;
        top: 5em;
    }
    #heroCircle2{
        position: relative;
        margin-left: -720px; 
         
        margin-top:30em ;
    }
    #aboutSection{
        position: relative;
        top: 100px;
        
    }
   

}